.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  @media screen and (min-width: 767px) {
    flex-wrap: wrap;
  }
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.footer-nav {
  @media screen and (min-width: 767px) {
    width: 50%;
  }
  @media screen and (min-width: 1200px) {
    width: initial;
  }
}

.footer-nav__logo {
  margin-bottom: 20px;
  @media screen and (max-width: 767px) {
    display: block;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    display: block;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    display: block;
    text-align: initial;
  }
}

.footer-nav__link-down {
  color: var(--white-text-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  @include font(26px, 1.2, 700, 0.03em);
}

.logo-letters--down {
  color: var(--accent-color);
}

.footer-adress {
  @media screen and (max-width: 767px) {
    display: block;
    margin-bottom: 60px;
  }
}
.footer__social-nav {
  width: 206px;
  height: 80px;
  margin-top: 12px;
  margin-bottom: 40px;

  @media screen and (max-width: 767px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 767px) {
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.footer__social-title {
  @include font(14px, 1.14, 700, 0.03em);
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffffff;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    text-align: center;
    margin-top: 5px;
  }
  @media screen and (min-width: 1200px) {
    text-align: initial;
    margin-top: 5px;
  }
}

.footer-social-list {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}
.footer-social__icon {
  fill: #ffffff;
}

.footer-social__item + .footer-social__item {
  margin-left: 10px;
}

.footer-social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-adress__text {
  margin-bottom: 9px;
  color: var(--white-text-color);
  font-style: normal;
  @include font(14px, 1.7, 400, 0.03em);
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer {
  background-color: var(--footer-bg-color);
}

.footer-nav-list {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-nav-list__item {
  margin-bottom: 9px;
}

.footer-nav-list__link {
  text-decoration: none;
  list-style: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  /*color: rgba(255, 255, 255, 0.6);*/
  color: var(--white-text-color);
}

.footer__subscribe-area {
  @media screen and (max-width: 767px) {
    margin-left: initial;
    display: block;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }

  margin-top: 12px;
}

.footer-subscribe-area__title {
  margin-bottom: 20px;
  @include font(14px, 1.14, 700, 0.03em);
  text-transform: uppercase;
  color: #ffffff;
  display: block;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    text-align: initial;
    margin-top: 5px;
    margin-bottom: 15px;
  }
}

.subscribe-form {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    /*   width: 100%; */
  }
}

.footer-subscribe-area {
  @media screen and (max-width: 1199px) {
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    width: initial;
  }
}
.subscribe-form__input {
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  outline: none;
  /*   border: transparent; */
  @media screen and (max-width: 767px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

.subscribe-form__input::placeholder {
  @include font(16px, 1.25, 400, 0.03em);
}

.subscribe-form__icon {
  margin-left: 10px;
}

.subscribe-form__btn {
  @media screen and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }

  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  @include font(16px, 1.9, 700, 0.03em);
  border: transparent;
}

.test {
  @media screen and (min-width: 768px) {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
    /*  justify-content: space-between; */
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: initial;
  }
}

.footer-social-nav {
  @media screen and (min-width: 768px) {
    width: 50%;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    width: initial;
    justify-content: center;
    margin-left: 70px;
  }
}
