.header {
  background-color: var(--header-bg-color);
  @media screen and (max-width: 768px) {
    padding-bottom: 16px;
    padding-top: 16px;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 17px;
    padding-top: 17px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.header__logo {
  display: inline-block;
  padding-top: auto;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
  /* padding-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px; */
}

.header__logo-link-up {
  @media screen and (max-width: 1200px) {
    @include font(24px, 1.2, 700, 0.03em);
  }
  @media screen and (min-width: 1200px) {
    @include font(26px, 1.2, 700, 0.03em);
  }

  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
}

.logo-letters-up {
  color: var(--accent-color);
}

.header__nav {
  color: var(--primary-text-color);
  @include font(14px, 1.16, 700, 0.02em);

  @media screen and (min-width: 768px) {
    display: flex;
    max-width: 100%;
  }
}

.mobile-container {
  @media screen and (min-width: 768px) {
    vertical-align: middle;
  }
  @media screen and (max-width: 1200px) {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    display: inline-flex;
    align-items: center;
  }
}

.header-list {
  display: inline-flex;
  align-items: center;
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-right: 84px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: -84px;
  }
}

.header-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .header-list__item:hover &,
  .header-list__item:focus & {
    color: var(--accent-color);
    fill: currentColor;
  }
}

.curent-page::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header-contacts {
  @media screen and (min-width: 1200px) {
    display: inline-flex;
    margin-left: 285px;
    & .item + .item {
      margin-left: 50px;
    }
  }

  & .link {
    color: var(--secondary-text-color);

    @media screen and (min-width: 768px) {
      @include font(12px, 1.16, 500, 0.02em);
    }
    @media screen and (min-width: 1200px) {
      @include font(14px, 1.14, 500, 0.02em);
    }
  }
}

/*панель ссылок хедера*/

/*панель навигации*/

.header-list__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.header-contacts__nav-item {
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:nth-child(1) {
      margin-bottom: 0;
    }
  }
  & {
    letter-spacing: 0.02em;
  }
}

.header-contacts__nav-item:hover .link,
.header-contacts__nav-item:focus .link {
  color: var(--accent-color);
  fill: currentColor;
}

.header-contacts__mail-link {
  display: inline-flex;
  align-items: center;
  fill: #757575;

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__mail-icon {
  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}

.header-contacts__phone-item {
  display: inline-flex;
  align-items: center;
  fill: #757575;
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__phone-icon {
  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.menu-toggle {
  position: absolute;
  right: 21px;
  top: 25px;
  /*   margin-top: 21px;
  margin-right: 25px; */
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  justify-content: end;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-wrap {
  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.menu-container {
  background-color: var(--header-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    transform: translateX(0);
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.social-menu-list {
  @media screen and (max-width: 768px) {
    display: flex;
    color: var(--accent-color);
  }
}

.mobile-nav-list {
  @include font(40px, 1.8, 500, 0.03em);
  margin-bottom: 302px;
}

.mobile-curent-page {
  color: var(--accent-color);
}

.mobile-nav-list__item {
  &:nth-child(n + 1) {
    margin-bottom: 32px;
  }
  &:nth-last-child(-n + 1) {
    margin-bottom: 0;
  }
}

.mobile-contacts-list__item-phone {
  @include font(34px, 1.17, 500, 0.02em);
  color: var(--accent-color);
  margin-bottom: 32px;
}

.mobile-contacts-list__item-mail {
  @include font(24px, 1.16, 500, 0.02em);

  color: #757575;
}

.mobile-contacts-list {
  margin-bottom: 64px;
}
.social-menu-list {
  @include font(18px, 1.22, 500, 0.02em);
}

.social-menu-list__item {
  position: relative;
  padding-right: 10px;
  margin-right: 10px;
}

.social-menu-list__item:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  /* border: 1px solid rgba(33, 33, 33, 0.2); */
}

.menu-toggle__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
