.hero-container__button {
  width: 200px;
  height: 50px;

  background-color: var(--accent-color);
  @include font(16px, 1.87, 700, 0.06em);
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px auto;
  border: transparent;
  cursor: pointer;
}

.subscribe-form__btn {
  margin-left: 12px;

  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  @include font(16px, 1.9, 700, 0.03em);
  border: transparent;
}