:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --header-bg-color: #ffffff;
  --footer-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --clients-section-bg-color: #e5e5e5;
}
